<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<p>
  <strong>Industries:</strong>
  <%= @email.industries %>
</p>

<p>
  <strong>Common:</strong>
  <%= @email.common %>
</p>

<%= link_to 'Back', emails_path %>
