<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<h2>Industries</h2>
<p>Kids, Baby and Toys</p>
<p>Food + Beverage</p>
<p>Sports + Outdoors</p>

<h2>Common Hubba sections</h2>
<p>What are we reading</p>
<p>New Features</p>
<p>From the Blog</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
